<%- model_class = Movie -%>
<div class="page-header">
  <h1>Wszystkie filmy</h1>
</div>

<div class="container">
  <div class="album text-muted">

    <div class="top-panel">

    <%= link_to "Dodaj film",new_movie_path,class: 'btn btn-primary search_btn' %>

    <div class="movie_search">
    <% if user_signed_in? %>
    <%= search_form_for @search do |f| %><%= f.text_field :title_cont, placeholder: "Wyszukaj po tytule" %> <%= f.text_field :country_cont, placeholder: "Wyszukaj po kraju" %>
    <%= f.submit "Szukaj" %>
    <% end %>
    </div>

    </div>

    <div class="row">

      <% @movies.each_with_index do |movie, i| %>

        <div class="card">
        <figure>
          <img src="<%= movie.image %>" height="500px" width="330px" alt="poster">
          <figcaption>
                <span class="movie-title"><%= link_to movie_path(movie) do %><%= movie.title %><%- end -%></span>
          </figcaption>
          </figure>
        </div>

      <% end %>

    </div>
</div>

<% else %>
  <p class="lead">Aby zobaczyć filmy musisz być zalogowany!</p>
<% end %>
</div>

<%= paginate @movies %>

<div class="chartkick">
  <%= pie_chart Movie.group(:country).count %>
  <h4>Diagram przedstawiający ilość filmów wyprodukowanych w danym kraju</h4>
</div>
