<%- model_class = Movie -%>

<div class="container">
  <div class="album text-muted">

    <div class="top-panel">

    <div class="row">

      <div class="col-md-6 col-lg-6 col-xs-12">
       <% if user_signed_in? %>
         <%= search_form_for @search do |f| %>

           <%= f.text_field :title_cont, class: "form-control input-lg search", placeholder: "Wyszukaj po tytule" %>
           <%= f.select :type_id_eq, options_from_collection_for_select(Type.all, "id", "name", @search.type_id_eq), :include_blank => 'wszystkie' %>

           <button type="submit" style="margin-right: 10px;">Szukaj</button>
         <% end %>
     </div>

      <div class="col-sm-6" style="text-align: right;">
        <%= link_to "Dodaj film +",new_movie_path,class: 'btn btn-primary btn-lg addnew_btn' %>
      </div>

    </div>

    </div>

    <div class="row">

      <% @movies.each_with_index do |movie, i| %>

        <div class="card col-md-6 col-lg-4 col-xs-12">
        <figure>
          <img src="<%= movie.image %>" height="500px" width="330px" alt="poster">
          <figcaption>
                <span class="movie-title"><%= link_to movie_path(movie) do %><%= movie.title %><%- end -%></span>
                <div class="rate_main"><%= rating_for movie, 'rating', enable_half: true %></div>
          </figcaption>
          </figure>
        </div>

      <% end %>

    </div>
</div>

<% else %>
  <p class="lead">Aby zobaczyć filmy musisz być zalogowany!</p>
<% end %>
</div>

<%= paginate @movies %>
