<%= form_for @director, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :imie, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nazwisko, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :last_name, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :data_urodzin, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :date_birth, class: 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit "Dodaj reżysera", class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.anuluj")),
                  directors_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
